<head>
    <link rel="stylesheet" href="https://bootstrap-4.5.3-dist/css/bootstrap.mim.css">
</head>

<app-navbar></app-navbar>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <img src="https://cdn1.iconfinder.com/data/icons/technology-devices-2/100/Profile-512.png"
                            alt="Profile Photo" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h2>{{userName | titlecase}}</h2>
                            <button class="btn btn-info" (click)='updateButton()'>Update My Details</button><br><br>
                            <button class="btn btn-info" (click)='getBookingByUserId()'>My Bookings</button><br><br>
                            <button class="btn btn-info" [routerLink]="['/logout']">Log Out</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!update" class="col-md-8 mt-5">
                <div class="card mb-3 content">
                    <h1 class="m-2 pt-3">&nbsp;About</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <h4>User Name:</h4>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{userName}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <h4>Email:</h4>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <h4>Phone:</h4>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{mobile}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <h4>Address:</h4>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{address}}
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>

            </div>
            <!-- update -->
            <div *ngIf="update" class="col-md-8 mt-5">
                <div class="card mb-3 content">
                    <h1 class="m-2 pt-3">&nbsp;Update Your details:</h1>
                    <form [formGroup]="addForm" (ngSubmit)="edituser()">
                        <div class="card-body">
                            <hr>
                            <div class="row">
                                <div class="col-md-9 text-secondary">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" formControlName="email" class="form-control" id="email"
                                            [(ngModel)]="user.email" name="email">
                                            <div class="text-danger" *ngIf=" Submitted && addForm.controls.email.errors">
                                                <div *ngIf="addForm.controls.email.errors?.required">Email address is required</div>
                                                <div *ngIf="addForm.controls.email.errors?.email">Email must be a valid email address</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-9 text-secondary">
                                    <div class="form-group">
                                        <label for="mobile">Mobile</label>
                                        <input type="tel" formControlName="mobile" class="form-control" id="mobile"
                                            [(ngModel)]="user.mobile" name="mobile">
                                            <div class="text-danger" *ngIf=" Submitted && addForm.controls['mobile'].errors">
                                                <div class="text-danger" *ngIf=" addForm.controls['mobile'].errors?.required" class="error">Provide Mobile Number</div>
                                                <div class="text-danger" *ngIf="  addForm.controls['mobile'].errors?.pattern" class="error">Give Valid Mobile Number</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-9 text-secondary">
                                    <div class="form-group">
                                        <label for="address">Address</label><br>
                                        <textarea formControlName="address" [(ngModel)]="user.address" name="address"  id="address" cols="30" rows="2" class="form-control"></textarea>
                                        <div class="text-danger" *ngIf=" Submitted && addForm.controls['address'].errors">
                                            <div class="text-danger" *ngIf=" addForm.controls['address'].errors?.required" class="error">Provide Address</div>
                                            <div class="text-danger" *ngIf="  addForm.controls['address'].errors?.minlength" class="error">Give minimum length</div>
                                            <div class="text-danger" *ngIf="  addForm.controls['address'].errors?.maxlength" class="error">Exceeded Address length</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                                <button class="btn btn-success">Submit</button>  &nbsp;
                                <button class="btn btn-info " (click)="goback()">Go Back</button>
                        </div>
        
                    </form>
                </div>

            </div>
        </div>


        
        <div class="container table-responsive" *ngIf="bookingdetail===true">
            <h2>Booking Details</h2>
            <button class="btn btn-outline-info" (click)="goback()">Go Back</button>
            <table class="table table-bordered table-striped table-hover mybooking">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Booking Id</th>
                        <th scope="col">Hotel Name</th>
                        <th scope="col">Booked from</th>
                        <th scope="col">Booked To</th>
                        <th scope="col">No Of Adults</th>
                        <th scope="col">No Of Children</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Cancel Booking</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let byUser of bookingsByUser">
                        <th scope="row">{{byUser.bookingId}}</th>
                        <th scope="row">{{byUser.hotelName}}</th>
                        <th scope="row">{{byUser.bookedFrom}}</th>
                        <th scope="row">{{byUser.bookedTo}}</th>
                        <th scope="row">{{byUser.noOfAdults}}</th>
                        <th scope="row">{{byUser.noOfChildren}}</th>
                        <th scope="row">{{byUser.totalamount}}</th>
                        <div class="text-center"><button  (click)="cancelButton(byUser.bookedFrom,byUser.bookingId)"  type="button" class="btn btn-outline-danger">Cancel</button></div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <p style="text-align: center; width: 100%;">Copyright &copy;Travelodge. All Rights Reserved  |  Contact Us: +91 9966666699</p>	
      </footer>
</body>