
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<div class="jumbotron jumbotron-fluid text-center" id="jumbotron">
    <div class="container product">
        PRODUCTS
    </div>
</div>

<div class="container" id="content">
    <div class="row" id="product">
        <div class="col-md-3 col-sm-6">
            <div class="img-thumbnail">
                <img src="assets/1.jpg" alt="Coco Oil" >
                <div class="caption">
                    <h3>Coco Oil(200 g) <button class="btn btn-success btn-sm"> 4.4 <i class="bi bi-star-fill"></i></button></h3>
                    <p>Rs.200.00 20% <i class="fa fa-certificate" style="color:rgb(156, 0, 0)" aria-hidden="true"></i>
                    </p><br>
                    <p style="text-align: justify;">Coconut oil is an edible oil derived from the wick, meat, and milk of the coconut palm fruit.
                         Coconut oil is a white solid fat, melting at warmer room temperatures of around 25° C, in warmer climates during the summer months it is a clear thin liquid oil. </p><br>
                    
                    <button class="btn btn-md add"><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a></button>
                    <!-- <i class="fa fa-heart-o heart" aria-hidden="true"></i> -->

                </div>
            </div>
        </div>
        
    </div>

</div>