<head>
  <link rel="stylesheet" href="home.component.css">
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
</head>

   
  <app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.teahub.io/photos/full/180-1801319_wallpaper-bedroom-furniture-tenderness-romance-hotel-rooms-images.jpg" alt="First slide" style="width:100%;">
      <div class="carousel-caption d-none d-md-block">
          <h3>Rooms Design</h3>
          <p>These are the high rated and luxury rooms we provided to our customers</p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/hotel6.jpg" alt="Second slide" style="width:100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Rooms Design</h3>
        <p>These are the high rated and luxury rooms we provided to our customers</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/hotel5.jpg" alt="Third slide" style="width:100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Rooms Design</h3>
        <p>These are the high rated and luxury rooms we provided to our customers</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>


<div class="container">
  <h1 id="hotel"><b>HOTELS</b></h1>
  <div class="row text-center" id="item_list">
      <div class="col-sm-4">
          <a routerLink="/viewhotel" >
              <div class="thumbnail">
                  <img src="assets/hotelroom.jpg"  alt="hotel" class="image rounded-corners">
                  <div class="overlay">Hotels</div>
              </div> 
          </a>
          
      </div>
      <div class= "row">
       <div class="col-lg-12">
        <ul>
          <li>Book direct through our website and avail exclusive savings on stay and more.</li><br>
          <li>Great value on Suite bookings</li><br>
          <li>Experience safe stays as we take care of your health and well being.</li><br>
          <li>Enjoy a staycation right in your city.</li><br>
          <li>Create memories for a lifetime.</li><br>
        </ul>
         </div>
         </div>
         </div>
         
          <!--<a href="#" >
              <div class="thumbnail">
                  <img src="assetss/villa.jpg" alt="villa" class="image rounded-corners">
                  <div class="overlay">Villas</div>
              </div> 
          </a>
      </div>
      <div class="col-sm-4">
          <a href="#" >
              <div class="thumbnail">
                  <img src="assetss/resort.jpg" alt="resort" class="image rounded-corners">
                  <div class="overlay">Resorts</div>
              </div> 
          </a>
      </div> -->
  
  </div>
  <br>
 
   <hr>
    <div class="container">
      <h1 id="hotel"><b>FEATURES</b></h1>
      <div class = "row" >
      <div class ="column">
      <figure>
      <img src = "assets/Guaranteed.png" alt = "Gurantee" style = "width:100%">
      <figcaption style="text-align : center;"><b>Best Rates Guaranteed</b></figcaption>
      </figure></div>
      
      <div class ="column">
      <figure>
      <img src = "assets/payathotel.png" alt = "Pay at hotel" style = "width:100%">
      
      <figcaption style="text-align : center;"><b>Pay at Hotel</b></figcaption>
      </figure></div>
      <div class ="column">
      <figure>
      <img src = "assets/nohidden.png" alt = "No hidden cash" style = "width:100%">
      <figcaption style="text-align : center;"><b>No Hidden Cash</b></figcaption>
      </figure></div>
      <div class ="column">
        <figure>
        <img src = "assets/offer.png" alt = "Offer" style = "width:100%">
        <figcaption style="text-align : center;"><b>Exclusive Offers</b></figcaption>
        </figure></div>
        <div class ="column">
          <figure>
          <img src = "assets/wifi.png" alt = "wifi" style = "width:100%">
          <figcaption style="text-align : center;"><b>Wifi Access</b></figcaption>
          </figure></div>
      </div>
      </div>


    <footer id="dk-footer" class="dk-footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-lg-4">
                  <div class="dk-footer-box-info">
                      <a href="index.html" class="footer-logo">
                          <img src="https://cdn.pixabay.com/photo/2016/11/07/13/04/yoga-1805784_960_720.png" alt="footer_logo" class="img-fluid">
                      </a>
                      <p class="footer-info-text">
                         We are here to provide you the best hotels in India.
                      </p>
                      <div class="footer-social-link">
                          <h3>Follow us</h3>
                          <ul>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-facebook"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-google-plus"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-linkedin"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-instagram"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
  
                  <div class="footer-awarad">
                    <img src="images/icon/best.png" alt="">
                    
                </div>
              </div>
              <div class="col-md-12 col-lg-8">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="contact-us">
                              <div class="contact-icon">
                                  <i class="fa fa-map-o" aria-hidden="true"></i>
                              </div>
                              <div class="contact-info">
                                  <h3>Mumbai India</h3>
                                  <p>Andheri West</p>
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6">
                          <div class="contact-us contact-us-last">
                              <div class="contact-icon">
                                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                              </div>
                              <div class="contact-info">
                                  <h3>95 711 9 5353</h3>
                                  <p>Give us a call</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12 col-lg-6">
                          <div class="footer-widget footer-left-widget">
                              <div class="section-heading">
                                  <h3>Useful Links</h3>
                                  <span class="animate-border border-black"></span>
                              </div>
                              <ul>
                                  <li>
                                      <a href="#">About us</a>
                                  </li>
                                  <li>
                                      <a href="#">Gallery</a>
                                  </li>
                                  <li>
                                      <a href="#">Contact us</a>
                                  </li>
                                  
                              </ul>
                          </div>
                      </div>

                      <div class="col-md-12 col-lg-6">
                          <div class="footer-widget">
                              <div class="section-heading">
                                  <h3>Subscribe</h3>
                                  <span class="animate-border border-black"></span>
                              </div>
                              <p>
                              For any further details, You can subscribe to us.</p>
                              <form action="#">
                                  <div class="form-row">
                                      <div class="col dk-footer-form">
                                          <input type="email" class="form-control" placeholder="Email Address">
                                          <button type="submit">
                                              <i class="fa fa-send"></i>
                                          </button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
      </div>


      <div class="copyright">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                    <p style="text-align: center; width: 100%;">Copyright &copy;Travelodge. All Rights Reserved  |  Contact Us: +91 9966666699</p>
                  </div>
              </div>
          </div>
      </div>

      <div id="back-to-top" class="back-to-top">
          <button class="btn btn-dark" title="Back to Top" style="display: block;">
              <i class="fa fa-angle-up"></i>
          </button>
      </div>
</footer>
